<html>
<head>

<title>Manage Quiz</title>
<!-- TODO add some stylesheets -->
</head>
<body>
	<div>
		<h1> Manage quiz view </h1>
		
		<h2> Data tables </h2>
		<p> Table: explanations and priors <p>
		<p> Table: Student responses and served explanations </p>

		<h2> Quiz preview </h2>
		<p> <a href="#">Modify quiz</a></p>
		<!-- preview quiz -->
		<iframe src="{{qualtrics_url}}"  align='center' height='800px' width='80%'>


		<!-- quiz analytics section -->

		<!-- modify quiz option -->

	</div>
</body>
</html>