.elasticbeanstalk
secure.py
*.py[cod]
*.log
*.sqlite3
http_static/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# local sqlite database
*.sqlite3

# osx files
.DS_Store

######### deploy to eb ############

secure.py
secure.config


