'''
THIS FILE IS AN EXAMPLE ONLY!
NONE OF THE SETTINGS IN THIS FILE WILL WORK OUT OF THE BOX
RENAME THIS FILE TO secure.py 

Note - the .gitignore file is setup to exclude secure.py
from git. secure.py should never be put under version control.

'''
SECURE_SETTINGS = {
	# database info
	'db_name': '',
	'db_user': '',
	'db_pass': '',
	'db_host': '',
	'db_port': 5432,

	# django secret key
	'SECRET_KEY': "",

	# LTI credentials
	'LTI_OAUTH_CREDENTIALS': {
		'': '',
	},

	# qualtrics-related settings
	'qualtrics_base_url':'',
	'qualtrics_user':'',
	'qualtrics_api_token':'',


	# amazon S3 credentials for static file storage
	'AWS_STORAGE_BUCKET_NAME':'',
	'AWS_S3_ACCESS_KEY_ID': '',
	'AWS_SECRET_ACCESS_KEY': '',
}
