{% extends "engine/base_question.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
View answers and associated experiments
{% endblock title %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Answers and associated experiments" ""%}
{% endblock breadcrumbs %}

{% block body %}

<p> Question: {{question.text | safe}}</p>

<ul>
{% for answer in question.answer_set.all %}

	<li>
		Answer: {{answer.text | safe}} <br>
		&nbsp; &nbsp;&nbsp;&nbsp; <a href="{% url 'engine:mooclet_detail' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=answer.mooclet_explanation.pk %}">Edit this Answer's Feedback and View Experiment Data</a>
	</li>
	
{% endfor %}
</ul>

{% endblock %}
