{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
<h1> Interact with MOOClet </h1>

<div class="nav">
	<a href="{% url 'engine:answer_list' question_id=answer.question.pk %}">Back to MOOClet list</a>
</div>

<div>
	<p> Interact with explanations-for-answer-MOOClet by viewing data, policy, rating explanations (to be added) </p>
	
	<br>
	<div>	
		Answer text: {{answer.text}}
		{# insert html table(s) here #}
		{% for form_group in mooclet_version_variable_value_forms %}
			{% for form in form_group %}
				{{form}}
			{% endfor %}
		{% endfor %}
		
	</div>
</div>
{% endblock %}