{% extends "engine/base_answer.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
Answer Manager
{% endblock title %}

{% block body %}

<p> Use this page to Manage Answer. </p>

<div class="section-summary">
	<h2> Answer properties </h2>
	<p> Question text: {{answer.question.text | safe}}
	<p> Answer text: {{answer.text | safe}}</p>
</div>

<div class="section-links">
	{% comment %}
	<h2> Manage answer </h2>
	<p> <a href="{% url 'engine:answer_modify' question_id=question.pk answer_id=answer.pk quiz_id=quiz.pk %}">Edit Text of Answer</a></p>
	{% endcomment %}
</div>

<div class="section">
<h2> Experiments </h2>
	{% if answer.mooclet_explanation %}
		<p><a href="{% url 'engine:mooclet_detail' mooclet_id=answer.mooclet_explanation.pk quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk%}">Edit this Answer's Feedback and View Experiment Data</a><p>

	{% else %}
		<p><a href="{% url 'engine:mooclet_create' type='explanation' %}">Add Experiment to Answer</a><p>
	{% endif %}

</div>

{% comment %}
<div>
	<h2> Student's View of Question</h2>

	<!-- preview quiz -->
	<iframe src="{% url 'engine:launch_quiz' quiz_id=quiz.pk %}"  align='center' height='400px' width='80%'>
</div>
{% endcomment %}



{% endblock %}




<div class="section">
<h2> Adaptive components </h2>
<p> Available adaptive component
</div>