<html>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="{% static 'quiz/css/base.css' %}"/>
	<link rel="stylesheet" href="{% static 'engine/css/base.css' %}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\[','\\]']]}});</script>
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<title>Adaptive Quiz</title>

	{% block head %}
	{% endblock %}
</head>

<body>
	{% block nav_quiz_detail %}
		
	{% endblock nav_quiz_detail %}

	{% block body %}
	{% endblock %}
</body>

</html>