{% extends "engine/base_mooclet.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}
Create feedback message
{% endblock title %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Create feedback message" "" %}
{% endblock breadcrumbs %}

{% block body %}
<div>
<p>Use the box below to create a new feedback message that students will be shown.</p>
<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#instructionCollapse" aria-expanded="false" aria-controls="instructionCollapse">More about this</button>
	<div class="collapse" id="instructionCollapse">
		Just like with questions and answers, you can use HTML markup for general formatting, or LaTeX for math formatting. The size of the box can be changed by clicking on the bottom right and dragging.
	</div>
</div>	
<br>
<br>
<div>
	<p> This feedback message will be shown when students choose the answer:</p>
	<p>{{answer | safe }}</p>
</div>	
<form method="post">
    {{ explanation_form.as_p }}
    <input type="submit" value="Save" />
</form>

<div>
<h2> Student's View of Question</h2>

<!-- preview quiz -->
<iframe src="{% url 'engine:launch_quiz' quiz_id=quiz.pk %}" height='400px' width='80%'>
</div>

{% endblock %}

