{% extends "engine/base.html" %}
{% load staticfiles %}

{% block title %}
Modify/Add Versions of Explanations to be randomly shown after each Answer
{% endblock title %}

{% block nav %}
{% include "engine/nav_back_to_quiz.html" %}
{% endblock nav %}

{% block body %}

{% for answer in answers %}

	<p>{{answer.text}}</p>
	<a href="{% url 'engine:mooclet_detail' mooclet_id=answer.mooclet.pk %}?answer_id={{answer.id}}"

	<ul>
	{% for version in answer.mooclet.version_set.all %}

		<li><a href="{% url 'engine:explanation_modify' explanation_id=version.explanation.pk %}">{{version.explanation.text}}</a></li>

	{% endfor %}
	<li><a href="{% url 'engine:explanation_create' mooclet_id=answer.mooclet.pk %}">Add a new explanation</a></li>
	</ul>
	
{% endfor %}

{% endblock %}
