{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
	<div>

		<h1> Create/modify quiz </h1>
		
		{% for answer in answers %}

			<p>Answer: {{answer.text}}</p>

			<ul>
			{% for explanation in answer.explanation_set.all %}

				<li>{{explanation.text}}</li>

			{% endfor %}
			<li><a href="{% url 'engine:explanation_create' answer_id=answer.pk %}">Add a new explanation</a></li>
			<li><a href="#"> Add new explanation using class-based view </a></li>
			</ul>
			
			
		{% endfor %}
	</div>
{% endblock %}