{% extends "engine/base_mooclet.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
Edit feedback
{% endblock title %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Modify Message" "" %}
{% endblock breadcrumbs %}

{% block body %}

<form method="post">
	{{explanation_form.as_p}}
    <input type="submit" value="Save" />
</form>
<div>
<h2> Student's View of Question</h2>

<!-- preview quiz -->
<iframe src="{% url 'engine:launch_quiz' quiz_id=quiz.pk %}" height='400px' width='80%'>
</div>
{% endblock %}

