{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
<div>

	<h1> Interact with Explanation-MOOClet</h1>
	
	<h2> Edit Versions of Explanation-MOOClet </h2>
	
	<form method="post">
		{{explanation_form.as_p}}

		<h2> View Policy or probability of person receiving Version of Explanation-MOOClet </h3>
		{{policy_form}}
		
		{{explanationparameters_form.as_p}}

		<h3>Answers</h3>
		{{ answer_formset.as_p}}


		<input type="submit" value="Submit" />
	</form>
</div>
{% endblock %}
