<html>
<head>

<title>Manage Quiz</title>
<!-- TODO add some stylesheets -->
</head>
<body>
	<div>
		<h1> Manage quiz view </h1>
		
		<!-- create quiz option -->
		<h2> Modify quiz </h2>

			<p> <a href="{% url 'engine:modify_quiz' quiz_id=quiz.pk%}">Modify quiz</a></p>

		<h2> Quiz preview </h2>

			<!-- preview quiz -->
			<iframe src="{{quiz.getDisplayUrl}}"  align='center' height='400px' width='80%'>



		<!-- quiz analytics section -->
		<h2> Quiz results and analytics </h2>

			<p> Data table: explanations and priors <p>
			<p> Data table: Student responses and served explanations </p>

		

	</div>
</body>
</html>