{% extends "engine/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}
Interact with MOOClet
{% endblock title %}

{% block nav %}
{% include "engine/nav_back_to_quiz.html" %}
{% endblock nav %}


{% block body %}

<div class="section-context">
	{% if answer %}
		<p> Interact with explanations-for-answer-MOOClet by viewing data, policy, rating explanations (to be added) </p>
		Answer text: {{answer.text}}
	{% else %}
		No mooclet context provided
	{% endif %}
</div>

<div class="section-mooclet">
	<h2>MOOClet properties</h2>
	<p>Name: {{mooclet.name}}</p>
	<p>Policy: {{mooclet.policy.name}}</p>
	<p>Versions:</p>
	<ul>
	{% for version in mooclet.version_set.all %}
		<li>Version: {{version}}</li>
	{% endfor %}
	</ul>
</div>

<div class="section-links">
	<h2> Links </h2>
	<ul>
	<li><a href="{% url 'engine:mooclet_simulate_probabilities' mooclet_id=mooclet.pk %}">Simulate version probabilities</a></li>
	<li><a href="{% url 'engine:mooclet_list_values' mooclet_id=mooclet.pk %}"> Student variable results</a></li>
	<li><a href="{% url 'engine:mooclet_modify_version_values' mooclet_id=mooclet.pk%}">Modify variables associated with versions and policies</a></li>
	<li><a href="#"> TODO: define new display variable tranformations</a></li>

	</ul>
</div>

{% comment %}
<div class="section-probabilities">
	{% for version, probability in version_probabilities %}
    	Probability of {{ version }} = {{ probability }} <br>

	{% endfor %}
</div>
{% endcomment %}


{% endblock %}
