{% extends "engine/base_mooclet.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_tags %}

{% block title %}
Alternative Feedback Messages for Answer
{% endblock title %}

{% block body %}


<!--instructions -->
<div>
	<p> This page lets you author different versions of feedback messages, and view data about how students have rated them.</p>
	<p>You can also control advanced features such as:</p>
	<ul>
		<li>Determining the method for presenting feedback messages.</li>
		<li>Recording your predictions of which messages will be effective.</li>
	</ul>
	{% comment %} 
	<br> <br><button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#instructionCollapse" aria-expanded="false" aria-controls="instructionCollapse">Tell me more</button>
	<div class="collapse" id="instructionCollapse">
		The idea behind this app is that XX. You might find it helpful to look at YY in coming up with messages. The advanced options are ZZ.
	</div>
	{% endcomment %}

</div>
<!--end instructions -->


<div>
	<h2>Alternative Feedback Messages on Answer "{{answer | safe}}"</h2>
	<!--instructions -->
<div>
	<p>
		Click below to add and edit different versions of feedback messages that will be shown when a student chooses this answer.
		<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Each student will be assigned to one of these messages, and rate how helpful it is, and that data will be provided to you."></span>
	</p>
	
</div>
<!--end instructions -->
	<a href="{% url 'engine:version_create' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}" class="btn btn-primary">Add new version</a>
	<ol>
	{% for version in mooclet.version_set.all %}
		<li>{{version | safe }} <br>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'engine:version_modify' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk version_id=version.pk %}" class="btn btn-primary btn-sm">Edit this Version</a></li>
	{% endfor %}
	</ol>
	
</div>

<div class="section-links">
	<h2> View Ratings of Feedback Messages</h2>
	<ul>
	
	<li><a href="{% url 'engine:mooclet_results' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}">View Data and Policy Dashboard</a> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This tells you how many people have been given each feedback message, what their average rating of the message has been, and how likely the next student is to receive each feedback message."></span></li>
	

	{% if mooclet.type == "explanation" %}
		
		<p> <a href="{% url 'engine:explanation_list' quiz_id=quiz.pk question_id=answer.question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}">Create/Edit Alternative Versions of Explanation-MOOClets</a></p>
	
	{% endif %}

	</ul>
</div>

<div class="section-mooclet">
	<h2>Change Method for choosing Versions</h2>
	{% comment %}
	<p>Name: {{mooclet.name}}</p>
	<p>Type: {{mooclet.type}}</p>
	<p>Policy: {{mooclet.policy.name}}</p>
	{% endcomment %}
	
<a href="{% url 'engine:mooclet_modify_version_values' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}">Enter Instructor Judgments about Versions</a> 
	
<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This lets you record your predictions about which feedback messages will work."></span> 
<br> <br>
	Choose which method or Policy should be used for assigning versions of feedback messages to students.
	<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This lets you choose a method for how versions should be chosen for display."></span> 
	<br>
<form method="post">
    {{mooclet_policy_form}}
    <input type="submit" value="Save" />
</form>
	The policies currently available are:
	<ul>
		<li>uniform_random <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This policy will choose a version randomly, with equal probability for each version."></span> </li>
		<li>weighted_random <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This policy will allow you to assign probabilities to the versions to decide how often they are shown to students."></span> </li>
		<li>thompson_sampling <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This policy gradually optimize which version is being presented to students, based on how students rate each version"></span> </li>
	</ul>

</div>

<div>
<h2> Student's View of Question</h2>

<!-- preview quiz -->
<iframe src="{% url 'engine:launch_quiz' quiz_id=quiz.pk %}" height='400px' width='80%'>
</div>

{% comment %}
<div class="section-probabilities">
	{% for version, probability in version_probabilities %}
    	Probability of {{ version | safe }} = {{ probability }} <br>

	{% endfor %}
</div>
{% endcomment %}


{% endblock %}
	
	
	{% comment %}
<div class="section-context">
	{% if mooclet.type == "explanation" %}
		<p> Interact with explanations-for-answer-MOOClet by viewing data, policy, rating explanations (to be added) </p>
		Answer text: {{answer.text | safe}}
	{% else %}
		No mooclet context provided
	{% endif %}
</div>
{% endcomment %}

	
	
	{% comment %}
	<li><a href="{% url 'engine:mooclet_simulate_probabilities' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}">Get new data</a></li>
	<li><a href="{% url 'engine:mooclet_list_values' quiz_id=quiz.pk question_id=question.pk answer_id=answer.pk mooclet_id=mooclet.pk %}"> View all mooclet data</a></li>
	{% endcomment %}
	
	{% comment %}
	<li><a href="#"> TODO: define new display variable tranformations</a></li>	
	{% endcomment %}
