{% extends "engine/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}
Student Variables for MOOClet
{% endblock title %}

{% block nav %}
{% include "engine/nav_back_to_mooclet.html" %}
{% endblock nav %}

{% block body %}

<table>
<tr>
	<th>Variable</th>
	<th>Value</th>
	<th>Object type</th>
	<th>Object id</th>
	<th>User</th>
</tr>
{% for value in values %}
	<tr>
	<td>{{value.variable.name}}</td>
	<td>{{value.value}}</td>
	<td>{{value.object_name}}</td>
	<td>{{value.object_id}}</td>
	<td>{{value.user.pk}}</td>
	</tr>
{% endfor %}
</table>

{% comment %}

<h2> Student Variables for MOOClet </h2>
<div class="student-version-values-table">
	<div class="table">

		<div class="tr">
			<span class="td">Version</span>
			{% for user_variable in user_variables %}
				<span class="td"> {{user_variable.name}} </span>
			{% endfor %}
		</div>
		
		{% for version in versions %}
			<div class="tr">
			<span class="td"> {{version}} </span>

			{% for user_variable in user_variables %}
				{% with m=forloop.parentloop.counter0 n=forloop.counter0 %}
					<span class="td">{% iloc value_tables m n %}</span>
				{% endwith %}
			{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>

{% endcomment %}

{% endblock body %}
