{% extends "engine/base_quiz.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
Create Question Text &amp; Answers
{% endblock title %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Create question" "" %}
{% endblock breadcrumbs %}

{% block body %}

<form method="post">
	<h3>Question Name</h3>

	{{question_form.as_p}}

	{{ answer_formset.management_form}}
	{% for answer_form in answer_formset %}
		<h4> Answer choice {{forloop.counter}}: </h4>
		{{answer_form.as_p}}
		
	{% endfor %}

	<input type="submit" value="Submit" />
</form>

{% endblock %}

