{% extends "engine/base_question.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
Create/Modify Question Text &amp; Answers
{% endblock title %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Text of question and answers" "" %}
{% endblock breadcrumbs %}

{% block body %}

<form method="post">
	<!--instructions -->
<div>
	Type into "Question text" the question you want students to be asked. Type into "Answer text" the four answer options from which students 
	can choose. Be sure to check off one and only one answer as correct.

	<br>After you click "Submit changes"
	you can preview your changes in the "Student's View of Question" iframe.
	
	<br>
	<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#instructionCollapse" 
		aria-expanded="false" aria-controls="instructionCollapse">Tell me more</button>
	
	<div class="collapse" id="instructionCollapse">
		<ul>
			<li>The order of the 4 answers is randomized for students.</li>
			<li> After you've written the question and answer, you'll be able to write alternative feedback messages for students to receive after choosing each answer.</li>
			<li>If you want any formatting, you have to add HTML tags. For example:</li>
			<li>Adding &lt;br&gt; moves things to another line – Line One &lt;br&gt; Line Two</li>
		</ul>
		
	</div>

</div>
<!--end instructions -->
	{{question_form.as_p}}

	{{ answer_formset.management_form}}
	{% for answer_form in answer_formset %}
		<h4> Answer choice {{forloop.counter}}: </h4>
		{{answer_form.as_p}}
		
	{% endfor %}
	
	

	<input type="submit" value="Submit Changes" />
	<br><strong>Remember</strong>: Grades will be passed back to Canvas, so you need to check ONE answer's "Correct" box. 

</form>


{% endblock %}
