{% extends "engine/base.html" %}
{% load staticfiles %}

{% block title %}List MOOClets{% endblock title %}

{% block nav %}
{% include "engine/nav_back_to_quiz.html" %}
{% endblock nav %}

{% block body %}
	
{% for question in quiz.question_set.all %}
	<p> Question: {{ question.text }}
	<ul>
	{% for answer in question.answer_set.all %}
		
		<li> Answer: {{answer.text}}
			
		{% if answer.mooclet.pk %}
			<a href="{% url 'engine:mooclet_detail' mooclet_id=answer.mooclet.pk %}?answer_id={{answer.id}}">Explanation-MOOClet (id={{answer.mooclet.pk}})</a>
			
		{% endif %}
		</li>
	{% endfor %}
	</ul>
	</p>
{% endfor %}

{% endblock %}