{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
	<h1> List MOOClets </h1>

	<div class="nav">
		<a href="{% url 'engine:quiz_detail' quiz_id=request.session.quiz_id %}">Back to manage quiz</a>
	</div>
	
	<div>	
		{% for question in quiz.question_set.all %}
			<p> Question: {{ question.text }}
			<ul>
			{% for answer in question.answer_set.all %}
				
				<li> Answer: {{answer.text}}
					
				{% if answer.mooclet.pk %}
					<a href="{% url 'engine:mooclet_detail' mooclet_id=answer.mooclet.pk %}?answer_id={{answer.id}}">Explanation-MOOClet (id={{answer.mooclet.pk}})</a>
					
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			</p>
		{% endfor %}

	</div>
{% endblock %}