{% extends "engine/base_quiz.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
Quip Manager
{% endblock title %}

{% block body %}



<div class="section-summary">
<!--instructions -->
<div>
	<p>
		Click the button below to create a new question, or the link to a question you've already created. If you need guidance, open up the Google Doc guide for how to use QuiP to create a question for the first time 
		at <a href="https://docs.google.com/document/d/1Z-ZiXXa-Pr1Y-c7m6_iLGDLcycMagCCtWgCwF9GN3_I/edit" target="_blank">tiny.cc/quipq</a>  
	      <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" 
	      title="Follow this guide the first time you set up a question. When you return to edit the question and view data, you will
		     be directed to a different page. The guide is in a Google Doc so you can add comments or edits about anything
		     that is unclear."></span>
	</p>
	{% comment %}
	<br> <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#instructionCollapse" 
		aria-expanded="false" aria-controls="instructionCollapse">Tell me more</button>
	<div class="collapse" id="instructionCollapse">
		XX - Should we iframe in the Google Doc and have it be displayed when someone clicks on this?
	</div>
	{% endcomment %}

</div>
<!--end instructions -->

<ul>
{% for question in quiz.question_set.all %}
	<li><a href="{% url 'engine:question_detail' quiz_id=quiz.pk question_id=question.pk %}">{{question | safe}}</a></li>
{% endfor %}


{% if not quiz.question_set.exists %}
	<li><i><a href="{% url 'engine:question_and_answers_modify' quiz_id=quiz.pk question_id=1 %} " class="btn btn-primary">Create new question</a></i></li>
{% endif %}

</ul>
</div>

{% comment %}
<div class"section">
<h2> Adaptive components </h2>
	{% if answer.mooclet_next_question %}
		<a href="{% url 'engine:mooclet_detail' quiz_id=quiz.pk mooclet_id=answer.mooclet_next_question.pk %}">Question sequencing MOOClet</a>
	{% else %}
		<a href="{% url 'engine:mooclet_create' quiz_id=quiz.pk type='next_question' %}">Add a question ordering MOOClet</a>
	{% endif %}
</div>
{% endcomment %}

{% comment %}
<div>
<h2> Results and analytics </h2>

	<p> Data table: explanations and priors <p>
	<p> Data table: Student responses and served explanations </p>
</div>
{% endcomment %}

<div>
<h2> Student's View of Question</h2>

	<!-- preview quiz -->
	<iframe src="{% url 'engine:launch_quiz' quiz_id=quiz.pk %}" height='400px' width='80%'>
</div>


<div class="section-links">
<p> Use this page to Edit and View Quiz Info. </p>

<!-- create quiz option -->
<!-- <h2> Edit quiz and explanations </h2> -->

	<p> <a href="{% url 'engine:quiz_modify' quiz_id=quiz.pk %}">Edit Quiz info</a></p>

	{% comment %}
	<p> <a href="{% url 'engine:collaborator_create' quiz_id=quiz.pk %}">Invite Collaborators to suggest and edit adaptive quiz components.</a></p>
	{% endcomment %}

</div>

{% endblock %}
