{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
	
<h1> Create/modify quiz </h1>

<div>
<a href="{% url 'engine:quiz_detail' quiz_id=request.session.quiz_id%}">Back to manage quiz</a>
</div>

<div>
<form method="post">
	<h3>Quiz</h3>
	{{quiz_form.as_p}}

	<h3> Question </h3>
	{{question_form.as_p}}

	<h3>Answers</h3>
	{{ answer_formset.management_form}}
	{% for answer_form in answer_formset %}
		<h4> Answer choice {{forloop.counter}}: </h4>
		{{answer_form.as_p}}
		
	{% endfor %}

	<input type="submit" value="Submit" />
</form>

{% endblock %}