{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
	<div>
		<h1> Question Manager</h1>
		
		<p> Use this page to Create and Modify Question Text, Answers, Explanations. </p>
		
		<!-- create quiz option -->
		<!-- <h2> Edit quiz and explanations </h2> -->

			<p> <a href="{% url 'engine:quiz_update' quiz_id=quiz.pk %}">Create/Edit Text of Question and Answer</a></p>

			<p> <a href="{% url 'engine:explanation_list' quiz_id=quiz.pk %}">Create/Edit Alternative Versions of Explanation-MOOClets</a></p>

			{# <p> <a href="#">Edit adaptive policy</a></p> #}

			<p> <a href="{% url 'engine:collaborator_create' quiz_id=quiz.pk %}">How to invite Collaborators to suggest and edit explanations.</a></p>

			{% for question in quiz.question_set.all %}
			{# <p> <a href="{% url 'engine:answer_list' question_id=question.pk %}">MOOClet list for question {{forloop.counter}} </a></p> #}
			{% endfor %}

		<h2> Student's View of Question</h2>

			<!-- preview quiz -->
			<iframe src="{% url 'engine:quiz_display' quiz_id=quiz.pk %}"  align='center' height='400px' width='80%'>


		<!-- quiz analytics section -->
		<h2> Quiz results and analytics </h2>

			<p> Data table: explanations and priors <p>
			<p> Data table: Student responses and served explanations </p>


		
	</div>

	
	
	

{% endblock %}
