{% extends "engine/base.html" %}
{% load staticfiles %}

{% block title %}
Create/Modify Question Text &amp; Answers
{% endblock title %}

{% block nav %}
{% include "engine/nav_back_to_quiz.html" %}	
{% endblock nav %}

{% block body %}

<form method="post">
	<h3>Quiz Name</h3>
	{{quiz_form.as_p}}

	{{question_form.as_p}}

	{{ answer_formset.management_form}}
	{% for answer_form in answer_formset %}
		<h4> Answer choice {{forloop.counter}}: </h4>
		{{answer_form.as_p}}
		
	{% endfor %}

	<input type="submit" value="Submit" />
</form>

{% endblock %}
