{% extends "engine/base.html" %}
{% load staticfiles %}

{% block body %}
	
<h1> Create/Modify Question Text &amp; Answers</h1>

<div>
<a href="{% url 'engine:quiz_detail' quiz_id=request.session.quiz_id%}">Back to Question Manager</a>
</div>

<div>
<form method="post">
	<h3>Question Name</h3>
	{{quiz_form.as_p}}

	{{question_form.as_p}}

	{{ answer_formset.management_form}}
	{% for answer_form in answer_formset %}
		<h4> Answer choice {{forloop.counter}}: </h4>
		{{answer_form.as_p}}
		
	{% endfor %}

	<input type="submit" value="Submit" />
</form>

{% endblock %}
